<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<script>
    async function test() {

        //Get the Token of authenticated User: 
        let formData = new FormData()
        formData.append("username", "Horst2")
        formData.append("password", "Sommer01")
        formData.append("password_repeat", "Sommer01")
        formData.append("email", "Horst@gmail.com")
        formData.append("first_name", "Horst")
        formData.append("last_name", "Seehofer")


        let response = await fetch("/register/", {
            method: "POST",
            body: formData
        })
        let result = await response.json()
        console.log("Response", result);


    }
</script>

<body onload="test()">
    <h1>Test</h1>
</body>

</html>